<h1>Rooms</h1>

<ul>
  <% @rooms.each do |room| %>
    <li><%= room.name %></li>
  <% end %>
</ul>

<h2>Add a Food Truck</h2>
      <h2>Create your Food Truck</h2>
      <%= simple_form_for @room do |f| %>
      <%= f.input :name %>
      <%= f.input :adress %>
      <%= f.input :website %>
      <%= f.input :capacity %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
