
<h2>Add a Room</h2>
      <h2>Create your Food Truck</h2>
      <%= simple_form_for @room do |f| %>
      <%= f.input :name %>
      <%= f.input :adress %>
      <%= f.input :website %>
      <%= f.input :capacity %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
